#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    border: 1px solid #000;
    width: 1100px;
    height: 650px;
}

.container {
    position: absolute;
    overflow: hidden;
    opacity: 1;
}

.slider_image {
    width: 1100px;
    height: 650px;
} 

.slider_text {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 60px;
    color: #fff;
}

.slider_prev,
.slider_next {
    width: 80px;
    height: 80px;
}

.opacity {
    opacity: 0;
}